@Model FirstMVCSite.Models.RestaurantReview

@{
    ViewBag.Title = "Edit";
}

<!DOCTYPE html>
<html>
<head>
    <title>Edit</title>
</head>
<body>

    <h1> You have receached the Edit page. </h1>


</body>
</html>